{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content%}
<div class="tab-content__section-header">
    <h3>Buy Airtime</h3>
    <p>Enter the receipient's Phone Number</p>
</div>
<div class="tab-content__form-container">
    <form id="bank-transfer__form" method="post" name="bankTransfer">
        {% csrf_token %}
         <div class="betremit-form__item">
        </div> 

        {{form|crispy}}
        <button type="submit" class="btn btn-primary"> Send</button>
    </form>
</div>
{% endblock content%}